<div class="layout--layoutPage">
  <header class="row">
    <div class="column small-6">{{ page.header_left }}</div>
    <div class="column small-6">{{ page.header_right }}</div>
  </header>

  <div class="row" id="zone-highlighted">
    <div class="columns small-collapse">
      {{ page.highlighted }}
    </div>
  </div>

  <main role="main">
    {{ page.content }}
    {{ page.info }}
  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout--layoutPage #}
