<div class="layout--layoutPage">

  <section id="section-header" class="section section-header">
    <div class="section-header--inner section--inner">
      {{ page.header_left }}
      {{ page.header_right }}
    </div>
  </section>{# /.section.section-header #}

  <section id="section-menu" class="section section-menu">
    <div class="section-menu--inner section--inner">
      <div id="zone-menu-wrapper" class="zone-wrapper zone-menu-wrapper clearfix">
        <div id="zone-menu" class="zone zone-menu clearfix">
            {{ page.primary_menu }}
            {{ page.secondary_menu }}
        </div>
      </div>
    </div>{# /.section-menu--inner.section--inner #}
  </section>

  <section id="section-featured" class="section section-featured">
    <div class="section-featured--inner section--inner">
      <div id="zone-featured-wrapper" class="zone-wrapper zone-featured-wrapper clearfix">
        <div id="zone-featured" class="zone zone-featured clearfix">
            {{ page.highlighted }}
        </div>
      </div>
    </div>{# /.section-featured--inner.section--inner #}
  </section>

  <section id="section-info" class="section section-info">
    <div class="section-info--inner section--inner">
      <div id="zone-info-wrapper" class="zone-wrapper zone-info-wrapper clearfix">
        <div id="zone-info" class="zone zone-info clearfix">
            {{ page.info }}
        </div>
      </div>
    </div>{# /.section-info--inner.section--inner #}
  </section>

  <section id="section-content" class="section section-content">
    <div class="section-content--inner section--inner">
        {{ page.content }}
    </div>{# /.section-content--inner.section--inner #}
  </section>

  <section id="section-footer" class="section section-footer">
    <div class="section-footer--inner section--inner">
        {{ page.footer }}
    </div>
  </section>

</div>{# /.layout--layoutPage #}
